<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
     </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MESWebserviceSoap"  maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="MESWebserviceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://58.221.197.202:30018/MES/MESWebservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="MESWebserviceSoap"
        contract="ServiceReference1.MESWebserviceSoap" name="MESWebserviceSoap" /> 
    </client>
  </system.serviceModel>
</configuration>
